
PORT=5000

MONGO_URI=mongodb://karamzanthony2002_db_user:xvsAT73M8TWZABFY@ac-jowryut-shard-00-00.xoc2kfp.mongodb.net:27017,ac-jowryut-shard-00-01.xoc2kfp.mongodb.net:27017,ac-jowryut-shard-00-02.xoc2kfp.mongodb.net:27017/?ssl=true&replicaSet=atlas-fynxcu-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=A!@#12345$

EMAIL_USER=admin@akstore.com
EMAIL_PASS=uwqx jjmn jvyy kuha
